<root>
  <FileGroup Name="enjine.js">
    <File Path="src/core.min.js" Minify="false" />
    <File Path="src/drawable.min.js" Minify="false" />
    <File Path="src/camera.min.js" Minify="false" />
    <File Path="src/drawableManager.min.js" Minify="false" />
    <File Path="src/vector2.min.js" Minify="false" />
    <File Path="src/state.min.js" Minify="false" />
    <File Path="src/gameCanvas.min.js" Minify="fasle" />
    <File Path="src/gameTimer.min.js" Minify="false" />
    <File Path="src/keyboard.min.js" Minify="false" />
    <File Path="src/mouse.min.js" Minify="false" />
    <File Path="src/resources.min.js" Minify="false" />
    <File Path="src/sprite.min.js" Minify="false" />
    <File Path="src/frameSprite.min.js" Minify="false" />
    <File Path="src/spriteFont.min.js" Minify="false" />
    <File Path="src/animatedSprite.min.js" Minify="false" />
    <File Path="src/application.min.js" Minify="false" />
  </FileGroup>
</root>